*{
	font-family: sans-serif;
	color: #2b2a2a;
}

.error{
	color: red;
}

.container-login{
	display: flex;
	flex-direction: column;
	width: 300px;
    border: 1px solid #c1c1c1;
    padding: 30px 20px 60px 20px;
    margin-top: 30px;
}

.container-login>div{
	margin-top: 20px;
}

.container-login input{
	padding: 5px;
	min-width: 200px;
}

.btn-in{
	background-color: #004c40;
	padding: 5px 10px;
	color: #ffffff;
	font-weight: bold;
	border: none;
    height: 30px;
    width: 150px;
    cursor: pointer;
}