<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>@Drimansy</title>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
	<div align="center">
		<h3>@Drimansy</h3>
		<hr>
		<p th:if="${param.error}" th:text="${errorMsg}" class="error"></p>
		<form th:action="@{/app/login}" method="POST">
			<div class="container-login">
				<div>
					<h4>Ingrese sus datos de acceso</h4>
				</div>
				<div>
					<input type="text" name="username" placeholder="Ingrese el usuario: user(1,2,3,4,5)"/>	
				</div>
				<div>
					<input type="password" name="password" placeholder="Ingrese la clave: 123" /> 
				</div>
				<div>
					<input class="btn-in" type="submit" value="Ingresar" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>