<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>@Drimansy - Abonos</title>
<script th:if="${isModal>0}" type="text/javascript" src="/js/jquery/jquery.3.4.1.min.js"></script>
<script th:if="${isModal>0}" type="text/javascript" src="/js/utils/utils.js"></script>

<script type="text/javascript" src="/js/payments.js"></script>

<link th:if="${isModal>0}" rel="stylesheet" href="/css/style.css" />
<link th:if="${isModal>0}" rel="stylesheet" href="/css/components.css" />
</head>
<body>
	<div class="main-container">
		<div class="container-btn-bottom">
			<div id="newPayment" class="btns btn2">
				<span>Nuevo abono</span>
			</div>
			<div id="savePayments" class="btns btn1">
				<span>Guardar abonos</span>
			</div>
		</div>
		<div class="searcher-result">
			<input id="invoiceId" type="hidden" th:value="${invoiceId}" />
			<div class="result-table">
				<div class="header-row">
					<div class="header-column" style="width: 25%">
						<span>Fecha</span>
					</div>
					<div class="header-column" style="width: 25%">
						<span>Valor</span>
					</div>
					<div class="header-column" style="width: 40%">
						<span>Recibido por</span>
					</div>
					<div class="header-column" style="width: 10%">
						<span>&nbsp;</span>
					</div>
				</div>
				<div class="container-rows">
					<div th:if="${!payments.isEmpty()}" th:each="payment : ${payments}" th:id="${payment.id}"
						class="body-row payment-item">
						<div class="body-column" style="width: 25%">
							<span th:text="${payment.dateStr}"></span>
						</div>
						<div class="body-column" style="width: 25%">
							<span th:text="${payment.value}"></span>
						</div>
						<div class="body-column" style="width: 40%">
							<span th:text="${payment.received.name}"></span>
						</div>
						<div class="body-column" style="width: 10%; justify-content: center;">
							<span class="icon-delete icon-row-action" 
								title="Eliminar abono"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${payments.isEmpty()}" class="container-empty">
			<div>
				<span class="icon-sad empty-rows"></span>
			</div>
			<div th:if="${isModal>0}">
				<span class="tx-big">No hay abonos.</span>
			</div>
		</div>
	</div>
	<template id="paymentRowTemplate">
		<div class="body-row payment-item edit-item">
			<div class="body-column" style="width: 25%">
				<input id="iDate" type="date" required="required" />
			</div>
			<div class="body-column" style="width: 25%">
				$<input type="number" id="value" class="pay-value" min="0" required="required" />
			</div>
			<div class="body-column" style="width: 40%">
				<select
						required="required" id="receivedby">
						<option value="">--</option>
						<option th:each="coll : ${collaborators}" th:value="${coll.id}"
							th:utext="${coll.name}" />
					</select>
			</div>
			<div class="body-column" style="width: 10%; justify-content: center;">
				<span class="icon-delete icon-row-action" 
					title="Eliminar abono"></span>
			</div>
		</div>
	</template>
</body>
</html>